body {
    background-color: #EDF0F5;
    font-family: "Poppins", sans-serif;
}

.hiasAtas {
    display: flex;
    position: absolute;
    top: -1.2vh;
    width: 100vw;
    right: 0vw;
    justify-content: space-between;
    align-items: start;
    overflow-x: hidden;
}

.hiasKiri {
    width: 35vw;
    height: 35vh;
}

.hiasKanan{
    width: 35vw;
    height: 35vh;
}

.hiasKiri {
    position: relative;
    left: -8vw;
    top: -2vh;
}

.hiasKanan {
    position: relative;
    right: -7vw;
    top: -1vh;
}

.judul {
    color: #5481C5;
    font-weight: 600;
    font-size: 6vw;
    text-align: center;
    margin-top: 5vh;
}

.logo {
    width: 40vw;
    position: relative;
    display: block;
    margin: auto;
}

.moto {
    color: #091F5B;
    font-weight: 600;
    text-align: center;
    font-size: 3vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.deskripsi {
    color: #091F5B;
    font-weight: 900;
    text-align: center;
    margin-bottom: 6vh;
    font-size: 4vw;
    margin: auto;
    width: 80vw;
    margin-bottom: 9vh;
}

.logoMenu {
    margin-right: 4vw;
}

.button {
    gap: 3.5vh;
    display: flex;
    flex-direction: column;
}

.isiMenuPesan {
    align-items: center;
    display: flex;
    padding-left: 19vw;
}

.menuPesan {
    background-color: #D0E4FF;
    border-radius: 2vw;
    display: flex;
    width: 83vw;
    margin: auto;
    align-items: center;
    text-decoration: none;
    box-shadow: 0vw 0.6vh 1vw #b8d0f0;
}

.logoMenu {
    width: 6vw;
}

.a:hover .deskripsiMenu, .a:hover .logoMenu, .a:hover,  .b:hover, .b:hover .deskripsiMenu, .b:hover .logoMenu {
    box-shadow: none;
    position: relative;
    top: 0.5vh;
    color: #091F5B;
}

.deskripsiMenu {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #5481C5;
}

.hiasAtas2 {
    display: none;
}

@media screen and (min-width: 1024px) {
    .judul {
        font-weight: 600;
        font-size: 2vw;
        text-align: center;
        margin-top: 4vw;
        height: 0vw;
        margin-bottom: 4vw;
    }

    .logo {
        width: 10vw;
        position: relative;
        display: block;
        margin: auto;
    }

    .moto {
        color: #091F5B;
        font-weight: 400;
        text-align: center;
        font-size: 1.2vw;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    
    .deskripsi {
        color: #091F5B;
        font-weight: 700;
        text-align: center;
        margin-bottom: 6vh;
        font-size: 1.6vw;
        margin: auto;
        width: 30vw;
        margin-bottom: 3vw;
    }

    .menuPesan {
        background-color: #D0E4FF;
        border-radius: 1vw;
        display: flex;
        width: 25vw;
        height: 4.5vw;
        margin: auto;
        align-items: center;
        text-decoration: none;
        box-shadow: 0vw 0.2vw 0.5vw #b8d0f0;
    }

    .isiMenuPesan {
        align-items: center;
        display: flex;
        padding-left: 3.3vw;
    }

    .logoMenu {
        width: 2vw;
        position: relative;
        left: 2.5vw;
    }

    .deskripsiMenu {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: #5481C5;
        font-size: 1.3vw;
    }

    .button {
        gap: 2vw;
        display: flex;
        flex-direction: column;
    }

    .hiasAtas {
        display: none;
    }

    .hiasAtas2 {
        display: flex;
        position: absolute;
        top: -1.2vh;
        width: 100vw;
        height: 101.2%;
        right: 0vw;
        justify-content: space-between;
        align-items: start;
        overflow: hidden;
        z-index: -9;
    }

    .hiasKiri {
        width: 35vw;
        height: 40vw;
    }
    
    .hiasKanan{
        width: 30vw;
        height: 40vw;
    }
    
    .hiasKiri {
        position: relative;
        left: -7vw;
        top: -8vw;
    }
    
    .hiasKanan {
        position: relative;
        right: -10vw;
        top: 18vw;
    }
  }